MONGODB_URI=mongodb://user:password@mongodb:27017/?authSource=admin
MONGODB_DATABASE=camisetas
JWT_SECRET=
NEXT_PUBLIC_SITE_URL=https://ultimalinea.com.ar
NODE_ENV=production
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET= 